

div{
box-sizing: border-box;

}

#s1{

}
#s2{
  
}

#s3{
   
}

.container{
    background-color: green;
}

body{
    background-color: green;
}

.form-control{
   
    margin-top: 5px;
}

tr{
    margin-left: 30px;
}


